*
!docker-entrypoint.sh
!product
!target/package-target.sh
!VERSION.txt

# For app dockerfiles.
!apps
!demo
!maven
!server/pypi/packages
!server/pypi/pkgtest
!server/pypi/dist

**/.gradle/
**/.idea/
**/build/
**/local.properties
