*
!docker-entrypoint.sh
!product
!target/package-target.sh
!VERSION.txt

# For ***REMOVED*** jupyter.dockerfile
!apps
!demo
!maven
!server/pypi/dist

**/.gradle/
**/.idea/
**/build/
**/local.properties
