[submodule "target/python"]
	path = target/python
	url = https://github.com/python/cpython.git
[submodule "target/openssl"]
	path = target/openssl
	url = https://github.com/openssl/openssl.git
[submodule "target/sqlite"]
	path = target/sqlite
	url = https://github.com/mackyle/sqlite.git
[submodule "target/gcc"]
	path = target/gcc
	url = https://android.googlesource.com/toolchain/gcc
