[submodule "target/python"]
	path = target/python
        url = gitolite@chaquo.com:cpython
        branch = chaquopy
[submodule "target/openssl"]
	path = target/openssl
	url = https://github.com/openssl/openssl.git
[submodule "target/sqlite"]
	path = target/sqlite
	url = https://github.com/mackyle/sqlite.git
