<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.chaquo.python.demo"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Contrary to documentation, singleTask does not always create a new task:
             https://issuetracker.google.com/issues/36921210-->
        <activity android:name=".ReplActivity"
            android:label="@string/repl"
            android:launchMode="singleInstance">
        </activity>
        <activity android:name="chaquopy.demo.ui_demo.UIDemoActivity"
            android:label="@string/ui_demo">
        </activity>
        <activity android:name=".JavaDemoActivity"
            android:label="@string/java_demo">
        </activity>
        <activity android:name=".JavaTestActivity"
            android:label="@string/java_unit_test">
        </activity>
        <activity android:name=".PythonTestActivity"
            android:label="@string/python_unit_test">
        </activity>
    </application>

</manifest>