# Direct requirements
furo==2022.4.7
Sphinx==4.5.0
sphinx-better-subsection==0.1
sphinx-tabs==3.3.1
towncrier==22.12.0

# Indirect requirements
alabaster==0.7.12
Babel==2.10.1
beautifulsoup4==4.11.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.3
click-default-group==1.2.2
colorama==0.4.4
docutils==0.17.1
idna==3.3
imagesize==1.3.0
importlib-metadata==4.11.3
incremental==22.10.0
Jinja2==3.1.1
MarkupSafe==2.1.1
packaging==21.3
Pygments==2.12.0
pyparsing==3.0.8
pytz==2022.1
requests==2.27.1
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tomli==2.0.1
urllib3==1.26.9
zipp==3.8.0
