<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- For debugging startup failures (see startNativeJava) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.chaquo.python.utils.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.chaquo.python.utils.MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.chaquo.python.utils.ReplActivity"
            android:label="@string/repl"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".PackageTestActivity"
            android:label="@string/app_name"/>

    </application>
</manifest>
