# These packages are included by default in a new virtualenv, but since we use them directly,
# specify exact versions for reproducible builds.
pip==19.3
setuptools==67.0.0
wheel==0.33.6

# Other direct requirements
Jinja2==2.11.3
jsonschema==2.6.0
pyelftools==0.29
PyYAML==6.0

# Indirect requirements
MarkupSafe==2.0.1
